main {
	min-height: 80vh;
}

.title {
	text-align: center;
}

.card {
	min-height: 200px;
	border: none;
}

.card-title {
	color: black;
}

.button {
	text-align: center;
	margin: auto;
	position: fixed;
	display: flex;
}
